/* CSS declarations go here */

html, body {
  width:100%;
  height:100%;
  min-height:100%;
}

.vid {
  position:absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
}

.remoteCam {
  width: 256px;
  height: auto;
}

.fsbutton {
  z-index:30;
}

#list .item {
  padding: 10px;
  margin: 8px;
  font-weight: bold;
  cursor: move;
}

.calibratorContainer {
  left: 25px;
  top:25px;
  position: relative;
  border: 2px dashed black;
  #hyundai_vid {
    border: 2px dashed grey;
  }
}

.hyundai_vid {
  height:100%;
  width:100%;
  z-index:20;
}

.vid_centerer {
  margin-left: auto;
  margin-right:auto;
}
